/* Default Light Theme */
body {
	font-family: Arial, sans-serif;
	background-color: #DAE1EF;
	color: #293A60;
	margin: 0;
	padding: 20px;
}

header {
	text-align: center;
	margin-bottom: 30px;
}

#profile-img {
	width: 150px;
	border-radius: 50%;
}

button {
	padding: 10px 20px;
	margin-top: 10px;
	cursor: pointer;
}

/* Dark Theme */
body.dark {
	background-color: #060030;
	color: #F7E5Eb;
}
