/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
    font-family: "Oswald", "Nunito", "Noto sans";
    font-style: oblique;
}

header{
    color: #839958;
}

body{
    background: linear-gradient(#cecdb9, #6b8b81)
    no-repeat;
}
.hero {
  
  background-image: url(MUSHROOM.jpg);
  background-size: cover;
  text-align: center;
  padding: 100px 20px;
}

.cta {
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #2c525e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.features {
  padding: 50px 20px;

}

.feature-card {
  flex: 1;
  margin: 20 10px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: left;
}

.visual img {
  width: 100%;
  max-width: 800px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  height:auto
}

.info {
  padding: 50px 20px;
}

.cta-final {
  text-align: center;
  padding: 70px 20px;
}

.listInfo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }
  .feature-card {
    margin: 10px 10;
  }
}
